<li>
    <p>
        <%= job.role %> <br>
        <%= job.company %> <br>
        <%= job.location  %> <br>
        Salary: <%= job.compensation %> <br><br>
        <small>Posted by <i><%= job.user.name %></i></small>
    </p> 
    
</li>    